mg.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-container img {
 max-width: 100%;
 height: auto;
}
.alignleft,
img.alignleft {
 display: inline;
 float: left;
 margin-right: 24px;
 margin-top: 4px;
}
.alignright,
img.alignright {
 display: inline;
 float: right;
 margin-left: 24px;
 margin-top: 4px;
}
.aligncenter,
img.aligncenter {
 clear: both;
 display: block;
 margin-left: auto;
 margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
 margin-bottom: 12px;
}
.wp-caption {
 background: #f1f1f1;
 line-height: 18px;
 margin-bottom: 20px;
 padding: 4px;
 text-align: center;
}
.wp-caption img {
 margin: 5px 5px 0;
 max-width: 622px; /* caption width - 10px */
}
.wp-caption p.wp-caption-text {
 color: #777;
 font-size: 12px;
 margin: 5px;
}
.wp-smiley {
 margin: 0;
}
.post-thumbnail img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.entry-header > h1 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}