.header-top {
    background-color: #0d5cab;
    padding-bottom: 15px;
    padding-top: 20px;
}

.header-top-wrapper {
    display: flex;
    justify-content: space-between;
}

.header-top-img {
    margin-right: 10px;
}

.header-top-wrap {
    display: flex;
    align-items: center;
}

.header-middle-wrapper {
    padding-left: 15px;
}

.header-middle-search {
    display: flex;
    align-items: center;
}

.header-middle-phone a {
    color: #0d5cab;
    font-size: 35px;
    font-weight: bold;
    font-family: 'Geometria-Bold';
}

.header-middle-phone a:hover {
    text-decoration: none;
}

.header-block-title {
    padding-top: 30px;
}

.header-block-title span {
    font-size: 24px;
    color: #0d5cab;
    font-weight: bold;
    opacity: 0.5;
}

.header-middle-cart {
    display: flex;
    align-items: center;
}

.header-middle-cart img {
    width: 29px;
    height: 23px;
    margin-right: 20px;
}

.header-add-cart {
    display: flex;
    flex-direction: column;
}

.header-add-cart ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.header-add-cart ul li:first-child a {
    font-weight: bold;
    color: #4f4f4f;
    text-decoration: none;
    font-size: 16px;
}

.header-add-cart ul li:last-child a {
    color: #4f4f4f;
}

.header-add-cart ul li:last-child a .cartcontents {
    border-bottom: 2px solid #8c2d32;
}

/* search */
.dgwt-wcas-sf-wrapp .dgwt-wcas-search-submit:before {
    display: none;
}

.dgwt-wcas-sf-wrapp button.dgwt-wcas-search-submit {
    min-width: 80px!important;
    background: linear-gradient(to top, #b00c0e, #7f0e11);
}

/* mobile header menu */

.container-mobile-header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 57px;
    z-index: 150;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
}

.header-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 52px;
    color: white;
    margin-top: 10px;
    border-radius: 1px;
}

.header-mobile-logo {
    margin-top: 5px;
}

.header-mobile-logo img {
    height: 50px;
}

.header-mobile-icon {
    color: #000;
    height: 50px;
    width: 50px;
    margin-top: 0px;
    font-size: 20px;
}

.header-mobile-icon:active {
    background: #0eb1eb;
    color: white;
}

.header-mobile-icon:active svg {
    fill: #fff;
}

.header-mobile-icon svg {
    width: 20px;
    height: 20px;
    fill: #000;
}

/* widgets */

.header-search-widget-container {
    position: fixed;
    z-index: 40;
    top: -10px;
    right: 250px;
    width: 100%;
    max-width: 500px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.header-search-widget {
    background: white;
    padding: 10px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    border-radius: 1px;
}

.header-menu-widget {
    background: white;
    padding-bottom: 10px;
}

.header-menu-widget-container {
    position: absolute;
    z-index: 50;
    top: 50px;
    left: -485px;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    width: 460px;
    box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    overflow: scroll;
    border-top: 1px solid#cccccc;
}

.header-tablet-menu-list ul {
    margin: 0px;
    padding: 15px 0 15px 0;
    list-style-type: none;
}

#menu-mobilemenusecond {
    padding-top: 0px;
}

#menu-mobilemenufirst {
    padding-bottom: 0;
}

.header-tablet-menu-list li {
    
}

.header-tablet-menu-list li a {
    font-weight: bold;
    color: #000;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.header-tablet-menu-list li a:hover {
    text-decoration: none;
    border-bottom: 3px solid #ffd642;
}
.header-tablet-menu-list li:hover {
    
}

.header-tablet-menu-list .current-menu-item a {
   text-decoration: none;
    border-bottom: 3px solid #ffd642;
}

.tablet-menu-cart-icon img {
    width: 60px;
}

.header-tablet-menu-categories .woocommerce ul.products {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
}

.header-tablet-menu-categories .woocommerce ul.products[class*=columns-] li.product {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 45px;
}

.header-tablet-menu-categories .woocommerce ul.products li.product a {
    display: flex;
    height: 100%;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 40px;
}

.header-tablet-menu-categories .woocommerce ul.products li.product:hover {
    
}

.header-tablet-menu-categories .woocommerce ul.products li.product a:hover .woocommerce-loop-category__title {
   
}

.header-tablet-menu-categories .woocommerce ul.products li.product a img {
    width: 40px;
    margin: 0px;
    display: none;
}

.header-tablet-menu-categories .woocommerce ul.products li.product .woocommerce-loop-category__title {
    color: #5f5d5d;
    padding: 0px;
}

.header-tablet-menu-categories .woocommerce ul.products li.product .count {
    display: none;
}

#mobile-fixed-background {
    position: fixed;
    z-index: 80;
    background: rgba(76, 76, 76, 0.5);
    width: 100%;
    height: 100%;
}

.tablet-menu-cart-icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.header-tablet-menu-cart {
    padding: 10px;
    border-bottom: 1px solid#cccccc;
    margin-bottom: 10px;
}

.tablet-menu-cart-link a {
    color: #000;
    font-weight: bold;
    font-size: 18px;
}

.tablet-menu-cart-text {
    font-size: 18px;
    color: black;
}

.tablet-menu-cart {
    display: flex;
}

.tablet-menu-cart-checkout {
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    display: block;
    font-size: 18px;
}

.tablet-menu-cart-checkout:hover {
    color: white;
    text-decoration: none;
}

.tablet-menu-cart-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tablet-children-categories .woocommerce ul.products[class*=columns-] li.product {
    background: #f7f7f7;
}

.tablet-children-categories .woocommerce ul.products[class*=columns-] li.product a {
    padding-left: 60px;
}

.header-back-call-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.reset-color, .reset-color:hover, .reset-color:active, .reset-color:focus {
    
    text-decoration: none;
}

.item-header-reset-call {
    line-height: 1;
}

.header-reset-call {
    margin-left: 25px;
    text-decoration: none;
    border-bottom: 1px dashed #337ab7;
    cursor: pointer;
}

.header-cart-count span {
    position: absolute;
    top: 15px;
    font-size: 12px;
    color: white;
    background: red;
    border-radius: 8px;
    width: 18px;
    line-height: 13px;
    right: 183px;
    border: 2px solid #313131;
    text-align: center; 
}

.header-reset-call:hover,
.header-reset-call:active,
.header-reset-call:focus {
    text-decoration: none;
}

.header-phone-arrow {
    background-image: url(../images/arrow-bottom-black.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    height: 12px;
    width: 12px;
    margin-left: 10px;
    margin-bottom: 2px;
}

.desktop-header-menu-wrap {
    border-bottom: 3px solid #0d5cab;  
}

.header-middle-phone {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1700px) { 
    .desktop-header-block-middle {
        flex-direction: column;
        justify-content: center;
    }
    .desktop-header-block-middle .header-search-wrapper {
        width: 410px;
        margin-bottom: 10px;
    }
}

@media(max-width: 1120px) {
    .header-search {
        width: 52px;
    }
    .header-search-label {
        display: none;
    }
}

@media(max-width: 460px) {
    .header-menu-widget-container {
        width: 100%;
    }
    .main-slider-item-title {
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }

}
@media(max-width: 700px) {

    .main-slider-item-title {
        left: 0px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        
    }

}