html, body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*----------- header -----------*/
.wrap-header-content-midle {
    margin-bottom: 20px;
}
.wrap-header-content-top {
    border-bottom: 1px solid #c3c3c2;
    margin-bottom: 10px;
}
.container-header {
    background-color: #fff;
    z-index: 30;
    position: relative;
}
.header-content-block-menu {
    height: 112px;
    align-items: flex-end;
    justify-content: flex-end;
    display: flex;
    margin-right: 40px;
}
.header-content-block-menu ul {
    list-style: none;
    padding-left: 0;
    display: flex;
}
.header-content-block-menu ul > li {
    padding: 10px;
    font-weight: 600;
}
.header-content-block-menu ul > li:last-child {
    padding-right: 0;
} 
.header-content-block-menu ul > li a {
    color: #000;
}
.header-content-block-menu ul > li a:hover {
    text-decoration: none;
    border-bottom: 3px solid #ffd642;
}
.header-content-block-phone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-content-block-social {
    margin-left: 40px;
}
.content-block-phone {
    align-items: center;
    display: flex;
    margin-right: 40px;
}
.btn-call {
    width: 150px;
    height: 27px;
    border-radius: 10px;
    background-color: #ffd642;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 25px;
    border: 0;  
}
.btn-send {
    width: 343px;
    height: 45px;
    border-radius: 10px;
    background-color: #ffd642;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 25px;
    border: 0;
}
.btn-call-modal {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    background-color: #ffd642;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 25px;
    border: 0; 
}
.content-block-phone a {
    color: #000;
    font-size: 16px;
    margin-right: 30px;
}
.content-block-phone img {
    margin-right: 10px;
    margin-top: 2px;
}
/*----------- end header -----------*/

/*----------- contact-form -----------*/

.container-slide {
    position: relative;
    z-index: 30;
    height: 100%;
}

.wrap-container-contact {
    display: flex;
    justify-content: flex-end;
}

.container-slide-contact {
    position: absolute;
    background-color: #fff;
    background-image: url(../img/bg-contact.png);
    right: 10%;
    border-radius: 1px;
    -webkit-box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
            box-shadow: 0 5px 10px 0 rgba(50, 50, 50, 0.06);
    z-index: 40;
    height: 100%;
}
@media(max-width: 767px) {
    .container-slide-contact{
    position: relative;
    }
    .slider .slick-dots {
    bottom: -10px;
    }
    .header-content-block-menu {
    margin-right: 0;
    display: flex;
    justify-content: center;
    }
}
@media(max-width: 998px) {
    .site-content {
    margin-top: 0px;    
    }
    header {
    min-height: 50px;   
    }
}
@media(max-width: 1200px) {
    .header-main-menu li a {
    padding-left: 0px;
    font-size: 13px;    
    }
    .callback-info {
    font-size: 13px;
    }
    .dgwt-wcas-search-wrapp {
    min-width: 90% !important;
    margin-left: 15px;
    margin-right: 15px;
    }
    .dgwt-wcas-suggestions-wrapp {
    left: 0px !important;
    }
    .copyright-info-copy {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}
}
@media(max-width: 1400px) {
    .container-slide-contact {
        display: none;
    }
}

.contact-slide-title h2 {
    font-weight: 900;
    margin-bottom: 25px;
    font-size: 35px;
    padding: 10px;
}

.contact-slide {
    color: #2b2b2b;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.contact-slide-all-contacts {
    position: absolute;
    bottom: 30px;
}

.link-all-contacts {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding-bottom: 1px;
    color: white;
    border-bottom: 2px solid #fff;
}

.link-all-contacts:hover {
    text-decoration: none;
}

.link-all-contacts:focus {
    text-decoration: none;
}

.contact-slide-text {
    font-size: 18px;
}

.slide-menu-contact {
    display: flex;
    margin-bottom: 15px;
}

.slide-contact-icon {
    font-size: 26px;
    margin-right: 20px;
    display: flex;
}

/*----------- end contact-form -----------*/

/*----------- slider -----------*/


.slider-load-label {
    z-index: 8;
    position: relative;
    top: 50%;
    display: none;
}

.container-sliders .slick-slide img {
    width: 100%;
    position: relative;
}

.container-sliders .slick-slide {
    position: relative;
}

.container-sliders .slick-slider {
    height: 630px;
}

.slick-arrow {
    width: 30px;
    height: 50px;
    position: absolute;
    z-index: 30;
    background: transparent;
    top: 45%;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 1px;
}

.slick-prev-arrow {
    left: 20px;
    background-image: url(../img/arrow-left-white.png);
}

.slick-next-arrow {
    right: 20px;
    background-image: url(../img/arrow-right-white.png);
}

.main-slider-item-image {
    height: 630px;
    background-size: cover;
    background-position: bottom;
}

.main-slider-road-forest {
    background-image: url(../img/slide/slide.png);
}

.main-slider-road-forest-2 {
    background-image: url(../img/slide/slide.png);
}

.background-color-yellow {
    background-color: #ffd642;
    width: 50px;
    height: 3px;
    margin-bottom: 10px;
}

.main-slider-item-title {
    position: absolute;
    z-index: 10;
    top: 85px;
    left: 160px;
}

.slider-header {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.slider-paragraph-middle {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
}

.content-slider {
    margin-left: 30px;
    margin-right: 30px;
}

.content-slider .slick-prev-arrow {
    background-image: url(../img/arrow-left.png);
    left: -45px;
    height: 100%;
    top: 0px;
    width: 45px;
}

.content-slider .slick-prev-arrow:active {
    background-image: url(../img/arrow-left-white.png);
    background-color: #23282d;
}

.content-slider .slick-next-arrow {
    background-image: url(../img/arrow-right.png);
    right: -45px;
    height: 100%;
    top: 0px;
    width: 45px;
}

.content-slider .slick-next-arrow:active {
    background-image: url(../img/arrow-right-white.png);
    background-color: #23282d;
}

.content-slider .woocommerce ul.products, 
.content-slider .woocommerce-page ul.products {
    margin-bottom: 0px;
}
.btn-biggest {
    width: 275px;
    height: 40px;
    border-radius: 10px;
    background-color: #ffd642;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 32px;
    border: 0;
}
/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 55px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    color: #fff;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: #0dcce9;
}
/*----------- end slider -----------*/

/*----------- content -----------*/
.text-white {
    color: #fff;
}
.container-content h2 {
   font-size: 40px;
   font-weight: 800;
}
.container-content {
    
}
.container-block-module {
   background-image: url(../img/bg-modul.jpg);
   background-size: cover;
   display: flex;
   justify-content: center;
   min-height: 600px;
    z-index: 30;
    position: relative;
}
.wrap-container-block-module {
    margin-bottom: 20px;
}
.container-wrapper-tile {
   background-image: url(../img/bg-tile.png);
   background-size: cover;
   display: flex;
   justify-content: center;
    z-index: 30;
    position: relative;
}
.container-block-margin-title {
    margin-bottom: 55px;
}
.container-wrapper-reviews h2 {
    margin-bottom: 55px;
}
.wrap-container-block-tile {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.container-block-tile {
    width: 280px;
    height: 200px;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-block-tile:hover {
    box-shadow: 0px 18px 100px rgba(84, 84, 84, 0.16);
    background-color: #fff;
}
.container-block-tile img {
    margin-bottom: 20px;
}
.wrap-container-block-tile a h4 {
    font-size: 18px;
    color: black;
    text-decoration: none;
    
}
.wrap-container-block-tile a:hover {
    text-decoration: none;
}
.container-wrapper-hot-instagram {
    background-image: url(../img/bg-uslugi.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    z-index: 30;
    position: relative;
}
.container-wrapper-instagram {
    background-image: url(../img/bg-uslugi.jpg);
    z-index: 30;
    position: relative;
    min-height: 400px;
}
.container-wrap-block-width {
    width: 1280px;
    z-index: 30;
    position: relative;
}
.wrapper-container-wrap-block-width {
   display: flex;
   justify-content: center;
}
.container-block-hot {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
.container-block-hot-img {
    width: 100%;
    height: auto;
}
.container-block-hot span {
    position: absolute;
    padding-top: 30px;
    color: #fff;
    font-size: 21px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.12); 
}
.container-block-hot-price {
    position: absolute;
    width: 143px;
    left: 0;
    top: 240px;
}
.container-wrapper-country {
    background-image: url(../img/bg-country.png);
    background-size: cover;
    min-height: 550px;
    display: flex;
    justify-content: center;
    z-index: 30;
    position: relative;
}
.container-block-country span {
    display: flex;
    justify-content: center;
    color: black;
    
}
.container-block-country a:hover {
    color: black;
    text-decoration: none;
    
}
.container-wrapper-reviews {
    display: flex;
    justify-content: center;
    min-height: 500px;
}
#container-request-call-parallax {
    background-image: url(../img/bg-reviews.png);
    background-size: cover;
    background-position: center;
    height: 900px;
    z-index: 5;
    position: fixed;
    top: 0px;
    width: 100%;
    overflow: hidden;
}
.wrap-container-block-reviews {
    display: flex;
    justify-content: center;
    margin-right: 10px;
}
.container-block-reviews {
    background-color: #fff;
    width: 580px;
    min-height: 240px;
    margin-bottom: 20px;
}
.container-block-reviews-content {
    display: flex;
    align-items: center;
    padding: 20px;
}
.container-block-reviews-content img {
    padding-right: 10px;
}
.container-block-reviews-content p {
    text-align: justify;
}
.container-block-reviews-name {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}
.container-block-reviews-name span {
    color: red;
    font-weight: 600;
}
.container-wrapper-advantages {
    background-color: #0dcce9;
    display: flex;
    justify-content: center;
    z-index: 30;
    position: relative;
    padding-bottom: 40px;
}
.container-block-advantages-img img {
    width: 120%;
    height: auto;
}
.block-advantages-list-text h4 {
    font-size: 21px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.12); 
}
.block-advantages-list-text {
    line-height: 1.5;
    margin-bottom: 20px;
}
.container-block-advantages-list h2 {
    margin-bottom: 60px;
}
.container-block-country {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 230px;
    height: 190px;
    margin-bottom: 20px;
    margin-left: 25px;
}
.container-block-country:hover {
    background: rgba(255, 255, 255, 0.85);
}
.container-block-country img {
   box-shadow: 0.4em 0.4em 1.4em 4px rgba(122, 122, 122, 1.5);
   margin-bottom: 20px;
}
.advantages-list {
    list-style: none;
    padding-left: 0;
}
.block-advantages-list {
    display: flex;
    align-items: center;
}
.block-advantages-list img {
    margin-right: 20px;
    margin-bottom: 20px;
}
.container-block-advantages-img {
    margin-bottom: 20px;
    margin-top: 20px;
}
@media(max-width: 1280px) {
    .container-wrap-block-width {
       width: 100%; 
    }
}

/*----------- end content -----------*/
.container-footer {
    z-index: 30;
    position: relative;
    background-color: #fff;
}
.footer-content-top {
    padding-top: 40px;
}
.footer-menu-block {
    display: flex;
    flex-direction: column;
}
.footer-menu-block ul {
    list-style: none;
    padding-left: 0;
}
.footer-menu-block-list ul {
    list-style: none;
    padding-left: 0;
}
.footer-contact-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-content-bottom {
   background-color: #0dcce9;
   min-height: 60px;
}
.footer-content-block-social {
    margin-left: 40px;
}
.footer-content-block-list {
    margin-left: 40px;
}
.footer-menu-block {
    margin-bottom: 20px;
}
.footer-content-block-list ul > li a {
    color: #000;
    font-weight: 600;
}
.footer-menu-block-list ul > li a {
    color: #000;
    font-weight: 600;
}
.footer-content-block-list ul > li a:hover {
    text-decoration: none;
    border-bottom: 3px solid #ffd642;
}
.footer-menu-block-list ul > li a:hover {
    text-decoration: none;
    border-bottom: 3px solid #ffd642;
}
@media(max-width: 375px) {
    .container-block-advantages-img img {
        width: 100%;
        height: 10%;
    }
    .slick-dots {
        display: flex;
        justify-content: center;
    }
    .slick-initialized .slick-slide {
        overflow: hidden;
    }
    .container-block-country {
        margin-left: auto;
        margin-right: auto;
    }
    .container-block-reviews {
        width: 100%;
        height: auto;
    }
    .container-wrapper-reviews {
        background-image: url(../img/bg-reviews.png);
    }
    .content-block-phone {
        margin-right: 0;
        
    }
    .content-block-phone a {
        font-size: 12px;
    }
    .header-content-block-social {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
    .main-slider-item-title {
        left: 45px;
    }
    .slider-header {
        font-size: 30px;
        letter-spacing: 0px;
    }
    .slick-next-arrow {
        right: 10px;
    }
    .slick-prev-arrow {
        left: 10px;
    }
    .main-slider-road-forest {
        overflow: hidden;
    }
    .btn-biggest {
       width: 220px; 
    }
    .slick-arrow {
        width: 16px;
        background-size: 16px;
        top: 23%;
    }
    .main-slider-item-image {
        height: 500px;
    }
}
@media(max-width: 768px) {
    .header-content-block-menu {
        justify-content: center;
    }
    .header-content-block-logo {
        display: flex;
        justify-content: center;
    }
    .content-block-phone a {
        margin-right: 15px;
    }
    .container-wrapper-tile {
        background-position-x: center;
    }
    .footer-contact-block {
        justify-content: center;
        margin-bottom: 20px;
    }
    .footer-menu-block-list {
        display: flex;
        justify-content: center;
    }
    .footer-menu-block {
        align-items: center;
    }
    .container-block-advantages-img {
        display: flex;
        justify-content: center;
    }
    .container-block-advantages-img img {
        width: 100%;
        height: 10%;
    }
    #container-request-call-parallax {
        height: 1100px;
    }
    
}
@media(max-width: 1024px) {
    .container-wrapper-country {
        background-position-x: -425px;
    }
    .container-wrapper-tile {
        background-position-x: center;
    }
    #container-request-call-parallax {
        height: 1100px;
    }
}

.contact-form-input {
    height: 45px;
    width: 350px;
    border-radius: 10px;
    border: 1px solid #434343;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding-left: 40px;
}

.wrap-contact-form-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.wpcf7 .ajax-loader {
    display: block !important;
}

div.wpcf7-response-output {
    width: 300px;
    padding: 10px !important;
    margin: 30px !important;
}
.wpcf7-validates-as-email {
    background: url(../img/icons/ico-email.png) #fff no-repeat;
    background-position: 10px;
}

.wpcf7-textarea {
    background: url(../img/icons/ico-message.png) #fff no-repeat;
    background-position: 10px;
}

.contact-form-input-name {
    background: url(../img/icons/ico-name.png) #fff no-repeat;
    background-position: 10px;
}

.wpcf7-tel {
    background: url(../img/icons/ico-phone-contact.png) #fff no-repeat;
    background-position: 10px;
}

.container-content-page {
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #c3c3c2;
    padding-bottom: 20px;
    min-height: 390px;
}

.visa-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.visa-icons p {
    color: white;
}

.modal-header {
    margin-bottom: 15px;
    text-align: right;
}
.img-responsive img {
    width: 100%;
    height: auto;
}
.wrap-post-content {
    margin-bottom: 25px;
}
.wrap-post-title a:hover {
    text-decoration: none;
}
.wrap-post-title a:active {
    text-decoration: none;
}
.wrap-post-title h2 {
    color: black;
    margin-top: 0px;
}
@media (min-width: 768px) {
    .modal-dialog { 
        width: 450px;
        margin: 100px auto;
}
}

.search-results-original {
    background-color: white;
}
.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-cruises {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.title-cruises {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}
/*----------- tabs-contact -----------*/

.item-tab-title {
    padding: 10px; 
    border-right: 1px solid #c3c3c2;
    border-left: 1px solid #c3c3c2;
    border-top: 1px solid #c3c3c2;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-right: 3px;
    cursor: pointer;
    background-color: #fafbff;
}

.item-tab-title h5 {
     font-weight: 600;
}

.buttun-delivery-active {
    background-color: #ffd642;
}

.item-tab-title:hover {
    background-color: #ffd642;
}

.item-tabs-contact-wrapper {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #c3c3c2;
}



/*----------- end tabs-contact -----------*/